<!DOCTYPE html>
<html lang="English">
<head>
    <title>MediaRecorder API - Sample</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="Styles/PageLayout.css">
</head>


<body>
<h1 id="label"> Voice to Text</h1>

<Button id="recordButton"> Order a coffee </Button>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="../static/script.js"></script>
</body>
</html>