
@media screen and (max-width: 900px) 
{

  .brew_Container
  {    
  width: 100vw;
  background: url(../Assets/Select_Order_Assets/background_animo.jpeg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  padding: 0;   
  margin: 0 ;
  }

  .Place_Order_App
  {
    margin: 0;
    padding: 0;   
  }  

  .coffee_background 
  {
    position: relative;
    width: 100vw;
    height: 40vh;
    background-image: url(../Assets/Brew_coffee_Assets/capucino.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  } 
    
  .ellipse 
  {
    position: relative;
    width: 5vh;
    height: 5vh;
    background: #000000;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    top: 5%;
    left: 5%;
  }
    
  .back
  { 
    position: relative;
    bottom: 8%;
    right: 4%;
  }
    
  .drink_name
  {
    position: relative;
    width: 90%;
    height: 15vh;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 3vh; /* adjust as needed */
    top: 17vh;
  }
    
  .drink_type
  {
    position: relative;
    text-align: center;
    top: 30%;
    right: 30%;
    
  }

  .order_Detail_Sugar 
  {
    position: relative;
    width: 90%;
    background: white;
    border-radius: 40px;
    bottom: 1vh;
    left: 5%;
    
  }
    
  .sugar_Text 
  {
    position: relative;
    width: 90%; /* adjusted */
    top: 3vh; /* adjusted */
    left: 10%;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6em; /* adjusted */
    color: #000000;
  }
    
  .sugar_Container 
  {
    position: relative;
    width: 80%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
  }
    
  .no_Sugar_Button 
  {
    position: relative;
    width: 15vh; 
    height: 40%; 
    background: #000000;
    border-radius: 5vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vh; 
    margin-top: 2vh;
    margin-right: 5%;

  }
    
  .normal_Sugar_Button
  {
    position: relative;
    width: 15vh; 
    height: 40%; 
    background: #000000;
    border-radius: 5vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vh; 
    margin-top: 2vh;
    margin-right: 5%;

  }

  .sweet_Sugar_Button
  {
    position: relative;
    width: 15vh; 
    height: 40%; 
    background: #000000;
    border-radius: 5vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vh; 
    margin-top: 2vh;
    margin-right: 5%;
  }

  .milk_Text {
    position: relative;
    width: 100%; /* adjusted */
    left: 10%;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6em; /* adjusted */
    color: #000000;
  }

  .milk_Container
  {
    position: relative;
    width: 80%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    
  }

  .no_Milk_Button {
    position: relative;
    width: 15vh; 
    height: 40%; 
    background: #000000;
    border-radius: 5vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vh; 
    margin-right: 5%;

  }

  .normal_Milk_Button
  {
    position: relative;
    width: 15vh; 
    height: 40%; 
    background: #000000;
    border-radius: 5vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vh; 
    margin-right: 5%;

  }

  .milk_Button
  {
    position: relative;
    width: 15vh; 
    height: 40%; 
    background: #000000;
    border-radius: 5vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vh; 
    margin-right: 5%;

  }

  .about_text {
    position: relative;
    width: 90%; 
    min-height: 151px;
    margin: 20px 5%; 
    background: #F8F7FA;
    border-radius: 15px;

  }

  .brew_Order 
  {
    position: relative;
    width: 50%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    border-radius: 34px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh; /* adjust as needed */
    left: 25%;
    top : 10%;
  }
}
  



/* ------------------------------ DESKTOP ------------------------------------------ */
@media screen and (min-width: 900px)
{

  body
  { 
    margin: 0 auto;
    padding: 0;
  }

  .brew_Container
  {    
    background: url(../Assets/Select_Order_Assets/background_animo.jpeg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
  }
  
  .Place_Order_App
  {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    
  }
  
  .coffee_background 
  {
    position: relative;
    width: 100%;
    height: 40vh;
    background-image: url(../Assets/Brew_coffee_Assets/capucino.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 6vh;
    margin: 0;
    padding: 0;
  }

  .ellipse 
  {
    position: relative;
    width: 5vh;
    height: 5vh;
    background: #000000;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    top: 5%;
    left: 5%;
  }

  .back
  { 
    position: relative;
    bottom: 8%;
    right: 4%;
  }

  .drink_name
   {
    position: relative;
    width: 100%;
    height: 12vh;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 3vh; /* adjust as needed */
    border-radius: 6vh;
    top: 20vh;
    
  }

  .drink_type
  {
    position: relative;
    text-align: center;
    top: 30%;
  }

  .order_Detail_Sugar 
  {
    position: relative;
    width: 100%;
    height: auto;
    background: white;
    border-radius: 40px;
  }

  .sugar_Text 
  {
    position: relative;
    width: 90%; /* adjusted */
    top: 3vh;
    left: 10vh;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6em; /* adjusted */
    color: #000000;
  }

  .sugar_Container
  {
    position: relative;
    width: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 10vh;
  }

  .no_Sugar_Button
  {
    position: relative;
    width: 15vw; 
    height: 5vh; 
    background: #000000;
    border-radius: 5vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vh; 
    margin-top: 2vh;
    margin-right: 5%;
  }

  .normal_Sugar_Button
  {
    position: relative;
    width: 15vw; 
    height: 5vh; 
    background: #000000;
    border-radius: 5vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vh; 
    margin-top: 2vh;
    margin-right: 5%;
  }

  .main
  {
    padding: 0;   
    margin: 0 auto;
  }

  .sweet_Sugar_Button
  {
    position: relative;
    width: 15vw; 
    height: 5vh; 
    background: #000000;
    border-radius: 5vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vh; 
    margin-top: 2vh;
    margin-right: 5%;
  }

  .milk_Text 
  {
    position: relative;
    width: 90%; /* adjusted */
    left: 10vh;
    top: 2vh;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6em; /* adjusted */
    color: #000000;
  }

.milk_Container
{
  position: relative;
  width: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 10vh;
}

.no_Milk_Button 
{
  position: relative;
  width: 15vw; 
  height: 5vh;  
  background: #000000;
  border-radius: 5vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vh; 
  margin-top: 2vh;
  margin-right: 5%;
}

  .normal_Milk_Button
  {
    position: relative;
    width: 15vw; 
    height: 5vh; 
    background: #000000;
    border-radius: 5vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vh; 
    margin-top: 2vh;
    margin-right: 5%;

  }

  .milk_Button
  {
    position: relative;
    width: 15vw; 
    height: 5vh;  
    background: #000000;
    border-radius: 5vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vh; 
    margin-top: 2vh;
    margin-right: 5%;

  }

  .about_text 
  {  
    position: relative;
    width: 90%;
    min-height: 10vh;
    top: 10px;
    background: #f8f7fa;
    border-radius: 15px;
    left: 5vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5vh;
    margin-top: 5vh;
    
    
  }
  
  .about
  {
    position: relative;
    bottom: 5%;
    margin-left: 5%;
  }

  .info
  {
    position: relative;
    margin-left: 5%;
  }
  
  .brew_Order {
    position: relative;
    width: 25vh;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    border-radius: 34px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh; /* adjust as needed */
    left: 40%;
    bottom: 1vh;
  }
}