.OrderCoffee {
    background-image: url('../Assets/Voice_Order_Assets/Background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-family: 'Lato';
    font-style: normal;
  }
  
  .button-container {
    display: flex;
    flex-direction: column; /* stacks the buttons vertically */
    gap: 10px;
    align-items: center; /* centers the buttons horizontally */
  }
  
  .button {
    background-color: white;
    border: none;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    width: 300px; /* specify a fixed width */
    height: 50px; /* specify a fixed height */
  }
  
  .dialog-box {
    margin-top: 100px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    background-color: black
  }
  
  .logo {
    background-image: url('../Assets/Voice_Order_Assets/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px; /* adjust as needed */
    height: 100px; /* adjust as needed */
    margin-top: 30px;
    cursor: pointer;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;  

  }
  
  .button1{
      background-color: black;
      border: none;
      border-radius: 10px;
      color: white;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin: 4px 2px;
      width: 300px; /* specify a fixed width */
      height: 20px; /* specify a fixed height */
      -webkit-user-select: none;  /* Chrome all / Safari all */
      -moz-user-select: none;     /* Firefox all */
      -ms-user-select: none;      /* IE 10+ */
      user-select: none;
    }

    .ellipse3
  {
    position: relative;
    left:-40%;
    top: -5%;
    width: 4vh;
    height: 4vh;
    background: #000000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


  
  .back3 {
    position: relative;
    color: #ffffff;
    font-size: 24px;
    line-height: 0; /* Adjusts the vertical alignment of the "+" */
  } 

  
  