@media screen and (max-width: 600px) {
 
  body
  { 
    margin: 0 auto;
    padding: 0;
  }

  .select-container
  {    
  
   width: 100vw;
   background: url(../Assets/Select_Order_Assets/background_animo.jpeg) no-repeat center;
   background-size: cover;
   background-attachment: fixed;
   margin: 0;
   padding: 0;

  }

.App {
  text-align: center;
  width: 100vw;
  position: relative;
  
}

.Select_Order_Header {

  position: relative;
  color: #CBCBD4;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;      /* Add this line */
  top: 10px;

}

.header-content
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img
{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.header_campaign
{
  position: relative;
  height: 10vh;
  top: 2vh;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 18px;
  text-align: center;
  color: #CBCBD4;
}


.rounded-rectangle-wrapper 
{
  display: flex;
  justify-content: space-between;
}

.rounded-rectangle 
{
  position: relative;
  width: 150px;
  height: 30px;
  background: #000000;
  border-radius: 33px;
  top: 10%;
  display: flex; /* this will align the child elements in a row */
  align-items: center; /* this will center the child elements vertically */
  justify-content: center; /* this will center the child elements horizontally */
  margin-right: 15px;
}

.capuccino-img {
  position: relative ;
  width: 20px;
  height: 20px;
  bottom: 5%;
}

.capucino-text {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  margin-left: 10px;
}

.main2
{
  position: relative;
    width: 90%;
    height: 100vh;
    left:5% ;

}
.coffe_selection_container
{
  height: 20%;
}

.coffee-selection1
{
  position: relative;
  width: 143px;
  height: 165px;
  border: 1px solid #FFFFFF;
  filter: drop-shadow(2px 1px 7px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5); /* 50% transparent white */
  top: 1vh;
}
.coffee-selection2
{
  position: relative;
  width: 143px;
  height: 165px;
  border: 1px solid #FFFFFF;
  filter: drop-shadow(2px 1px 7px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5); /* 50% transparent white */
  top: 3vh;

}
.coffee-selection3
{
  position: relative;
  width: 143px;
  height: 165px;
  border: 1px solid #FFFFFF;
  filter: drop-shadow(2px 1px 7px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5); /* 50% transparent white */
  top: 5vh;

}

.coffee-image {
  position: absolute;
  width: 129px;
  height: 99px;
  left: 5px;
  top: 5px;
  background: url(../Assets/Select_Order_Assets/chocolate.png) no-repeat center; /* Placeholder image URL */;
  background-size: cover; /* Cover the entire div with the background image */
  border-radius: 15px;
}

.coffe-text {
  position: relative;
  width: 15vh;
  height: 24px;
  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  text-align: center;
  top:116px;
  color: #000000;

}

.ellipse2 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 106px;
  top: 125px;
  background: #000000;
  border-radius: 50%; /* Makes the div an ellipse */
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus {
  position: relative;
  color: #ffffff;
  font-size: 24px;
  line-height: 0; /* Adjusts the vertical alignment of the "+" */
} 


.coffe-price
{
  position: relative;
  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  text-align: center;
  color: #000000;
  right: 30%;
  top: 30%;
}

.capucino-image {
  position: absolute;
  width: 129px;
  height: 99px;
  left: 5px;
  top: 5px;
  background: url(../Assets/Select_Order_Assets/normal_coffee.png) no-repeat center; /* Placeholder image URL */;
  background-size: cover; /* Cover the entire div with the background image */
  border-radius: 15px;
}

.hot_chocolate-image {
  position: absolute;
  width: 129px;
  height: 99px;
  left: 5px;
  top: 5px;
  background: url(../Assets/Select_Order_Assets/capucino.png) no-repeat center; /* Placeholder image URL */;
  background-size: cover; /* Cover the entire div with the background image */
  border-radius: 15px;
}
}



/**************** Desktop version **************/
 @media screen and (min-width: 600px) {
  
  /* html
  { 
    margin: 0;
    padding: 0;
    height: 100%;
  }

  body 
  {
    background: url(./Assets/Select_Order_Assets/background_animo.jpeg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
  } */

  body
  { 
    margin: 0 auto;
    padding: 0;
  }

  .select-container
   {    
    /* width: 100%;
    height: 100vh; */
    background: url(../Assets/Select_Order_Assets/background_animo.jpeg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;

   }

  .App 
  {
    text-align: center;
    width: 100%;
    
  }

  .Select_Order_Header h1 
  {
    text-align: center;
    margin-top: -10vh;
  }
  
  .Select_Order_Header {
  
    padding: 20px;
    color: #CBCBD4;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;      /* Add this line */
    margin-bottom: -10vh;
  
  }
  
  .header-content
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo-img
  {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 10%;
    top: 20px;
  }
  
  .header_campaign
  {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    color: #CBCBD4;
  }

  .main2
  {
    width: 50%;
    padding: 0;   
    margin: 0 auto;
  }
  
  .rounded-rectangle-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .rounded-rectangle 
  {
    width: 150px;
    height: 30px;
    background: #000000;
    border-radius: 33px;
    margin-top: 10px;
    display: flex; /* this will align the child elements in a row */
    align-items: center; /* this will center the child elements vertically */
    justify-content: center; /* this will center the child elements horizontally */
    margin-right: 10px;
  }
  
  .capuccino-img {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
  }
  
  .capucino-text {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 10px;
  }
  
  
  .coffee-selection1 {
    width: 143px;
    height: 165px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(2px 1px 7px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5); /* 50% transparent white */
    
    margin-top: 20px; /* Add some space between the rounded-rectangle and coffee-selection divs */
  }

  .coffee-selection2 {
    width: 143px;
    height: 165px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(2px 1px 7px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5); /* 50% transparent white */
    
    margin-top: 20px; /* Add some space between the rounded-rectangle and coffee-selection divs */
  }

  .coffee-selection3 {
    width: 143px;
    height: 165px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(2px 1px 7px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5); /* 50% transparent white */
    
    margin-top: 20px; /* Add some space between the rounded-rectangle and coffee-selection divs */
  }
  
  .coffee-image {
    position: absolute;
    width: 129px;
    height: 99px;
    left: 5px;
    top: 5px;
    background: url(../Assets/Select_Order_Assets/chocolate.png) no-repeat center; /* Placeholder image URL */;
    background-size: cover; /* Cover the entire div with the background image */
    border-radius: 15px;
  }
  
  .coffe-text {
    width: 83px;
    height: 24px;
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    text-align: center;
    margin-top: 110px;
    color: #000000;
  
  }
  
  .ellipse2 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 106px;
    top: 125px;
    background: #000000;
    border-radius: 50%; /* Makes the div an ellipse */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .plus {
    color: #ffffff;
    font-size: 24px;
    line-height: 0; /* Adjusts the vertical alignment of the "+" */
    margin-top: 20px;  
  } 
  
  
  .coffe-price
  {
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    text-align: center;
    color: #000000;
    margin-right: 80px;
    margin-top: -10px;
  }
  
  .capucino-image {
    position: absolute;
    width: 129px;
    height: 99px;
    left: 5px;
    top: 5px;
    background: url(../Assets/Select_Order_Assets/normal_coffee.png ) no-repeat center; /* Placeholder image URL */;
    background-size: cover; /* Cover the entire div with the background image */
    border-radius: 15px;
  }
  
  .hot_chocolate-image {
    position: absolute;
    width: 129px;
    height: 99px;
    left: 5px;
    top: 5px;
    background: url(../Assets/Select_Order_Assets/capucino.png) no-repeat center; /* Placeholder image URL */;
    background-size: cover; /* Cover the entire div with the background image */
    border-radius: 15px;
  }
} 
