@media screen and (max-width: 699px) {
 
  body
  { 
    margin: 0 auto;
    padding: 0;
  }

  .select-container
  {    
  
   width: 100vw;
   background: url(../Assets/Select_Order_Assets/background_animo.jpeg) no-repeat center;
   background-size: cover;
   background-attachment: fixed;
   margin: 0;
   padding: 0;

  }

.App {
  text-align: center;
  width: 100vw;
  position: relative;
  font-family: 'Lato';
  font-style: normal;
  
  
}

.ellipse4
  {
    position: relative;
    width: 4vh;
    height: 4vh;
    background: #000000;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    top: 5%;
    margin-left: 10px;
  }
    
  .back4
  { 
    position: relative;
    bottom: 8%;
    right: 4%;
  }

.Select_Order_Header 
{
  position: relative;
  color: #CBCBD4;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;      /* Add this line */
  top: 10px;
}

.header-content
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img
{
  position:relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  top: 40px;
}

.header_campaign
{
  position: relative;
  height: 10vh;
  top: 2vh;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 18px;
  text-align: center;
  color: #CBCBD4;
}


.main2
{
  position: relative;
  width: 90%;
  left:5% ;

}
.coffe_selection_container
{
    display: flex;
    flex-direction: row;  /* Add this line */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    background-color: rgba(255, 255, 255, 0.5); /* White background with 50% transparency */
    border-radius: 40px;
    width: 100%;
}

.coffee-item, .capucino-item,.espresso-item, .milk_coffee-item, .chocolate_milk-item, .chocolate_coffee-item, .double_espresso-item, .wiener_melange-item, .late_machiato-item
  {
    position: relative;
    width: 150px;
    height: 200px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(2px 1px 7px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5); /* 50% transparent white */
    margin-top: 10%;
  }

  .item-image {
    position: relative;
    width: 90%;
    height: 99px;
    left: 5%;
    top: 5%;
    background: url(../Assets/Select_Order_Assets/chocolate.png) no-repeat center; /* Placeholder image URL */;
    background-size: cover; /* Cover the entire div with the background image */
    border-radius: 15px;
  }
  
  .item-text {
    position: relative;
    height: 24px;
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    text-align: cen;
    top: 5%;
    color: #000000;
  
  }

  .item-price
  {
    position: relative;
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    text-align: left;
    color: #000000;
    margin-left: 10%;
  }

.ellipse2 {
  position: relative;
  width: 3.5vh;
  height: 3.5vh;
  left: 80%;
  margin-top: -20% ;
  margin-bottom: 5%;
  background: #000000;
  border-radius: 50%; /* Makes the div an ellipse */
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus {
  position: relative;
  color: #ffffff;
  font-size: 24px;
  line-height: 0; /* Adjusts the vertical alignment of the "+" */
}
}



/**************** Desktop version **************/
 @media screen and (min-width: 700px) {

  body
  { 
    margin: 0 auto;
    padding: 0;
  }

  .select-container
   {    
   
    background: url(../Assets/Select_Order_Assets/background_animo.jpeg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;

   }

  .App 
  {
    text-align: center;
    width: 100%;
    font-family: 'Lato';
    font-style: normal;
    
  }

  .Select_Order_Header h1 
  {
    text-align: center;
    margin-top: -10vh;
  }
  
  .ellipse4
  {
    position: relative;
    width: 4vh;
    height: 4vh;
    background: #000000;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    top: 5%;
    right: 30%;
  }
    
  .back4
  { 
    position: relative;
    bottom: 8%;
    right: 4%;
  }

  .Select_Order_Header {
  
    padding: 20px;
    color: #CBCBD4;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;      /* Add this line */
    margin-bottom: -10vh;
  
  }
  
  .header-content
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo-img
  {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 10%;
    top: 40px;
  }
  
  .header_campaign
  {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    color: #CBCBD4;
  }

  .main2
  {
    width: 50%;
    padding: 0;   
    margin: 0 auto;
  }
  
  

  .coffe_selection_container
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10vh;  /* Add gap here */
    background-color: rgba(255, 255, 255, 0.5); /* White background with 50% transparency */
    border-radius: 40px;
    width: 100%;
    
  }

  .coffee-item, .capucino-item,.espresso-item, .milk_coffee-item, .chocolate_milk-item, .chocolate_coffee-item, .double_espresso-item, .wiener_melange-item, .late_machiato-item
  {
    width: 200px;
    height: 250px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(2px 1px 7px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 5%;
  }

  
  .item-image {
    position: relative;
    width: 90%;
    height: 50%;
    left: 5%;
    top: 5%;
    background: url(../Assets/Select_Order_Assets/chocolate.png) no-repeat center; /* Placeholder image URL */;
    background-size: cover; /* Cover the entire div with the background image */
    border-radius: 15px;
  }
  
  .item-text {
    position: relative;
    top: 5%;
    width: 100%;
    height: 1vh;
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    text-align: center;
    color: #000000;
  
  }
  
  .ellipse2 
  {
    position: relative;
    width: 4vh;
    height: 4vh;
    left: 70%;
    background: #000000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


  
  .plus {
    position: relative;
    color: #ffffff;
    font-size: 24px;
    line-height: 0; /* Adjusts the vertical alignment of the "+" */
  } 
  
  
  .item-price
  {
    position: relative;
    left: 15%;
    top: 10%;
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    text-align: left;
    color: #000000;
  }
  
} 


